<div class="text-center text-secondary pb-3 mt-3">
  <p>Backend and hosting by <a href="http://mdotshell.info" target="_blank">Mdot Shell</a> - Frontend by <a href="http://timlange.me" target="_blank">Gerno Utrigas</a></p>
</div>